<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
  </head>
  <body>
    <h1><div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Email</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Message</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Write your message Here">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div></h1>
  </body>
</html>